.msg
  display none
  position: fixed;
  top: 50%;
  left: 50%;
  padding  10px 30px
  text-align center
  z-index 9999
  /*display: -webkit-box;
  display: -ms-flexbox;*/
  color: #fff;
  min-width: 70%;
  font-size: 28px;
  border-radius: 8px;
  word-break: break-all;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  background-color: rgba(0,0,0,.7);
