@import "../../../../src/common/styl/mixin.styl"
#app
  background-color #5360C6
  .bannerScope
    position relative
    width 100%
    height 611px
    $bg-image("../img/banner")
    background-repeat no-repeat
    background-size 100% 100%
    .logo
      position absolute
      top 124px
      left 50%
      margin-left (-(@top/2))px
      width 120px
      height 120px
      $bg-image("../img/icon_logo")
      background-size 100% 100%
    .slogan
      position absolute
      top 480px
      left 50%
      width:548px;
      height:60px;
      margin-left -(548/2)px
      line-height 60px
      box-shadow:29px 83px 117px 0 rgba(13,16,20,0.32)
      font-size:30px;
      font-weight:400;
      color:rgba(255,255,255,1);
      text-align center
      border-radius 10px
      text-shadow:0 3px 5px rgba(76,0,110,0.58);
      background:linear-gradient(#e66db1, #d33d6b);
    .platformSlogan
      display flex
      position absolute
      top 555px
      left 0
      width:100%;
      align-items center
      justify-content center
      p
        font-size:25px;
        font-weight:normal;
        color:rgba(255,220,84,1);
        margin 0 10px
      i
        width 10px
        height 10px
        $bg-image("../img/icon_decorate")
        background-size 100% 100%
  .wrapped
    padding 0 45px 92px 45px
    .aboutScope
      .leader
        display flex
        align-items center
        justify-content center
        padding 13px 0 29px 0
        h4
          padding 0 15px
          font-size:30px;
          font-weight:400;
          color:rgba(233,248,255,1);
        i
          width 19px
          height 22px
          $bg-image("../img/icon_dorate")
          background-size 100% 100%

      .introduce
        width 100%
        margin 0 auto
        font-size:28px;
        font-weight:400;
        background:rgba(145,151,233,0.4);
        border-radius:20px;
        line-height:40px;
        .introduce_wrap
          padding 29px 30px 24px 45px
          p
            color:rgba(255,255,255,1);

    .fromScope
      .leader
        padding 35px 0
        font-size 28px
        color rgb(255,255,255)
      .register
        background:rgba(145,151,233,.4);
        border-radius:20px;
        padding 57px 40px 52px 40px
        .item
          position relative
          width 100%
          height 86px
          background-color #fff
          margin-bottom 30px
          border-radius:43px;
          input
            width 100%
            height 100%
            padding-left 128px
            box-sizing border-box
            border-radius:43px;
        .tel
          label
            position absolute
            left 63px
            top 50%
            transform translateY(-50%)
            font-size:28px;
            font-weight:bold;
            color:rgba(83,56,171,1);
        .otp
          input
            padding-left 65px
          .line-left
            position absolute
            right 161px
            top: 50%
            height 60px
            margin-top -30px
          .v-hairline--left::after
            border-left-color #5338AB
          .btn
            position absolute
            top: 0
            right 0
            height 100%
            width 160px
            outline none
            border none
            background-color transparent
            padding 0
            font-size:30px;
            font-weight:bold;
            color:rgba(83,56,171,1)
            border-radius 0 43px 43px 0
        .password
          input
            padding-left 65px
        .btn
          margin-bottom 0
          button
            width 100%
            height 100%
            background-color #FBB41C
            border none
            outline none
            font-size:30px;
            font-weight:bold;
            color:rgba(255,255,255,1);
            border-radius:43px;

    .detailScope
      margin-top 40px
      .detailScope_wrap
        background:rgba(145,151,233,.4);
        border-radius:20px;
        padding 30px 40px 42px 45px
        font-size:28px;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:40px;

